.ContenedorDOM {
  display: flex;
  overflow-y: visible;
}
.ContenedorSideBar {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 20px;
  padding-left: 5vw;
  border: 1px solid rgb(192, 192, 192);
}
.ContenedorIMG img {
  display: flex;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.ContenedorIMG img:hover {
  background-color: rgb(204, 204, 204);
  border-radius: 25px;
}
.ContenedorIcons div {
  font-family: Helvetica;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  width: 70%;
}
.ContenedorIcons div:hover {
  background-color: aliceblue;
  border-radius: 25px;
}
.ContenedorIcons span {
  font-family: Arial;
  font-size: larger;
  padding: 3px;
  margin-left: 8px;
}
.contenedorbtn button {
  background-color: rgb(29, 161, 242);
  width: 13vw;
  height: 7vh;
  border-radius: 25px;
  font-family: Arial;
  color: white;
  font-size: large;
  border: solid rgb(192, 192, 192) 2px;
}
.ContenedorHome {
  width: 40%;
  height: 100vh;
  border: solid 1px grey;
}
.FotoDePerfil img {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  margin-left: 1vw;
}
.btntwittear {
  background-color: rgb(29, 161, 242);
  width: 9vw;
  height: 5vh;
  border-radius: 25px;
  font-family: Arial;
  color: white;
  font-size: medium;
  border: solid grey 2px;
  margin-left: 10vw;
}
.ContenedorOpcionales {
  display: flex;
  justify-content: space-around;
  font-size: medium;
  font-family: Arial;
  cursor: pointer;
}
.ContenedorOpcionales p {
  width: 20vw;
  padding-left: 7vw;
  height: 7vh;
  padding-top: 8px;
}
.ContenedorOpcionales p:hover {
  background-color: rgb(211, 210, 210);
}
.textTarea {
  width: 80%;
  margin-left: 4vw;
  border: none;
  background-color: transparent;
  outline: none;
  height: 8vh;
}
.contenedorMundo span {
  color: rgb(29, 161, 242);
}
.contenedorMundo {
  margin-left: 4vw;
}
.contenedorIconosButton {
  cursor: pointer;
  margin-left: 4vw;
  display: flex;
  flex-direction: row;
}
.contenedorIconosButton button {
  margin-top: auto;
}
.iconos {
  margin: 10px;
}
.ContenedorSubcripcion {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-top: 20px;
  border: 1px solid rgb(192, 192, 192);
  margin-top: 5px;
}
.ContenedorSubcripcion span {
  margin-bottom: 15px;
  margin-top: 10px;
}
.ContenedorSubcripcion button {
  width: 10vw;
  height: 7vh;
  border-radius: 25px;
  background-color: black;
  color: white;
  margin-bottom: 5px;
}

@media (max-width: 500px) {
  .ContenedorIcons span {
    display: none;
  }
  .contenedorbtn span {
    display: none;
  }
  .ContenedorIcons div {
    margin-left: 8px;
  }
}
